# Django/Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django migrations
**/migrations/

# SQL database files
*.sqlite3

# Django static and media files
/staticfiles/
/media/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
test-results/
*.log

# Environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
*.code-workspace

# PyCharm
.idea/

# Git
*.orig

# pip
pip-log.txt
pip-delete-this-directory.txt

# pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json.5

# Pyre type checker
.pyre/

# React/Node.js

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build files
build/
dist/

# Static asset caches
.cache/
.next/
out/
.svelte-kit/

# Parcel
.cache/
.parcel-cache/

# Temporary files
*.tmp
*.swp
*.lock
*.gz

# Coverage
coverage/
*.lcov

# ESLint and Prettier
.eslintcache
.npm/
